/*.bin
/*.cache
/*.hfst*
/*.in
/*.log
/*.mode
/*.ol
/*.status
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/config
/configure
for_gtweb_jorgal/
devtexts/
dev/archive/update-morph/*.bin
dev/archive/update-morph/*.cache
dev/archive/update-morph/*.hfst*
dev/archive/update-morph/*.in
dev/archive/update-morph/*.log
dev/archive/update-morph/*.mode
dev/archive/update-morph/*.ol
dev/archive/update-morph/*.status
dev/archive/update-morph/.deps
dev/archive/update-morph/INSTALL
dev/archive/update-morph/Makefile
dev/archive/update-morph/Makefile.in
dev/archive/update-morph/aclocal.m4
dev/archive/update-morph/config*
dev/archive/update-morph/depcomp
dev/archive/update-morph/install-sh
dev/archive/update-morph/langs.cfg
dev/archive/update-morph/libtool
dev/archive/update-morph/ltmain.sh
dev/archive/update-morph/missing
dev/archive/update-morph/modes
dev/archive/update-morph/stamp-h1
dev/langs.cfg
/install-sh
/langs.cfg
/misc
/missing
/modes
/nob-sme.prob
paper/*.
paper/*.aux
paper/*.bbl
paper/*.bin
paper/*.blg
paper/*.idx
paper/*.log
paper/*.mode
paper/*.pdf
paper/*.synctex.gz
paper/INSTALL
paper/Makefile
paper/Makefile.in
paper/aclocal.m4
paper/autom4te.cache
paper/config
paper/config.in
paper/config.log
paper/config.status
paper/configure
paper/install-sh
paper/missing
paper/modes
/stamp-h1
/*.hfst
/*.pc
/*.zhfst
/.DS_Store
/autom4te.cache
/config.log
/config.status
/config.in
/test/*-output.txt
/test/output/