* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-nob.nob.dix -text
/apertium-sme-nob.sme-nob.dix -text
/apertium-sme-nob.sme-nob.lex -text
/apertium-sme-nob.sme-nob.rlx -text
/apertium-sme-nob.sme-nob.t1x -text
/apertium-sme-nob.sme-nob.t2x -text
/apertium-sme-nob.sme-nob.t3x -text
/apertium-sme-nob.sme-nob.t4x -text
/apertium-sme-nob.sme.lexc -text
/apertium-sme-nob.sme.twol -text
/autogen.sh -text
/configure.ac -text
dev/inc-sme-nob-dic.txt -text
dev/propernoun-bi.dix -text
dev/rle-to-rlx.sh -text
dev/sme.hitparade.txt -text
dev/update-lexc.sh -text
dev/uppercase-first.twol -text
dev/valence.txt -text
dev/xfst2apertium.relabel -text
dev/xfst2apertium.twol -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/regression-tests.sh -text
/sme-nob.prob -text
