* text=auto eol=lf
/2translations-test.html -text svneol=unset#application/xml
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/NRKnews_sme2nob.html -text
/PROBLEMS -text
/README -text
/TODO -text
WER/Makefile -text
WER/README -text
WER/dubestemmer.nob -text
WER/dubestemmer.sme -text
WER/eu.nob -text
WER/eu.sme -text
WER/gonagas.nob -text
WER/gonagas.sme -text
WER/make-paste.sh -text
WER/norga.nob -text
WER/norga.sme -text
WER/rikssamling.nob -text
WER/rikssamling.sme -text
WER/safrika.nob -text
WER/safrika.sme -text
WER/warhol.nob -text
WER/warhol.sme -text
WER/wdiff-to-html.sh -text
WER/ww2.nob -text
WER/ww2.sme -text
/apertium-sme-nob.sme-nob.dix -text
/apertium-sme-nob.sme-nob.lex -text
/apertium-sme-nob.sme-nob.t1x -text
/apertium-sme-nob.sme-nob.t2x -text
/apertium-sme-nob.sme-nob.t3x -text
/apertium-sme-nob.sme-nob.t4x -text
/apertium-sme-nob.sme-nob.val -text
/autogen.sh -text
/check_mt-otpt.py -text
/configure.ac -text
dev/MoreNewLemmas -text
dev/NRKnews_mt.txt -text
dev/README.md -text
dev/Setningstyper.docx -text
dev/about-lemma_go.txt -text
dev/about-refl_pron.txt -text
dev/about-valence.txt -text
dev/analyse-all-stages.sh -text
dev/analyse-bidix.sh -text
dev/apertium-sme-nob.sme-nob.lrx -text
dev/archive/apertium-sme-nob.sme-nob.lex -text
dev/archive/update-morph/AUTHORS -text
dev/archive/update-morph/COPYING -text
dev/archive/update-morph/ChangeLog -text
dev/archive/update-morph/Makefile.am -text
dev/archive/update-morph/NEWS -text
dev/archive/update-morph/README -text
dev/archive/update-morph/autogen.sh -text
dev/archive/update-morph/configure.ac -text
dev/archive/update-morph/langs.cfg.in -text
dev/archive/update-morph/liblt.py -text
dev/archive/update-morph/libltpy.cpp -text
dev/archive/update-morph/libltpy.hpp -text
dev/archive/update-morph/shortest-tag-match-in-bidix.sh -text
dev/archive/update-morph/sme-nob-notrim.langs.cfg -text
dev/archive/update-morph/sme-nob.langs.cfg -text
dev/archive/update-morph/update-lexc.py -text
dev/archive/xfst2apertium.hashtags.twol -text
dev/archive/xfst2apertium.relabel -text
dev/archive/xfst2apertium.useless.twol -text
dev/bidix-abbr.todo.dix -text
dev/bidix-adpositions.todo.dix -text
dev/bidix-pcle.todo.dix -text
dev/bidix-pronouns.todo.dix -text
dev/bidix-props-freq-sorted.dix -text
dev/bidix-props-no-corpus-hits.dix -text
dev/bidix-shcmp.todo.dix -text
dev/bidix-subjunction.todo.dix -text
dev/bidix-suspicious-entries.todo.dix -text
dev/blase-coverage/Makefile -text
dev/blase-coverage/README -text
dev/blase-coverage/clean -text
dev/blase-coverage/diff-large-files.py -text
dev/blase-coverage/free_facta.amb.excluded -text
dev/blase-coverage/free_facta.cmp -text
dev/blase-coverage/free_facta.unk -text
dev/blase-coverage/make-diff -text
dev/blase-coverage/make-disam-files -text
dev/blase-coverage/run-sme-nob-until-disam -text
dev/blase-coverage/select-sem.cg3 -text
dev/blase-coverage/tmx.amb.excluded -text
dev/blase-coverage/tmx.cmp -text
dev/blase-coverage/tmx.unk -text
dev/blase-coverage/translations-test.amb.excluded -text
dev/blase-coverage/translations-test.cmp -text
dev/blase-coverage/translations-test.unk -text
dev/cg-tag-convertor.py -text
dev/compare-our-cg-with-gt.sh -text
dev/fetch-and-build-hfst-vislcg3-apertium-sme-nob.sh -text
dev/generation-report.txt -text
dev/gt-expand-to-bidix.sh -text
dev/inc-adj_meahttun.txt -text
dev/inc-adv-fst_not_apert.txt -text
dev/inc-cearpmat2012.txt -text
dev/inc-new_smenob_nouns.txt -text
dev/inc-problem.txt -text
dev/inc-sme-nob-dic-noun-multiword.txt -text
dev/inc-sme-nob-dic-verb.txt -text
dev/inc-sme-nob-dic.txt -text
dev/inc-sme-nob-names.csv -text
dev/inc-vahkkuplana.txt -text
dev/just-bidix.t1x -text
dev/lex-sel-TODO-in-bidix.sh -text
dev/lex-tools/Makefile -text
dev/lex-tools/pct-split -text
dev/lists_from_corpus/README.org -text
dev/lists_from_corpus/maydetind.cg3 -text
dev/lists_from_corpus/only_forms_and_syntags.py -text
dev/lists_from_corpus/postproc-maydetind -text
dev/lists_from_corpus/run-maydetind -text
dev/lookup-transitivity.sh -text
dev/nouns-nob-sme/apertium-sme-nob.nob-sme.rlx -text
dev/nouns-nob-sme/apertium-sme-nob.nob-sme.t1x -text
dev/plc-props-from-bidix-to-sur.sh -text
dev/props-from-bidix-to-nob.sh -text
dev/rle-to-rlx.sh -text
dev/sme-nno.sh -text
dev/sme-nob.inconsistency.sh -text
dev/sme.hitparade.txt -text
dev/sme_bidix_sanity.sh -text
dev/testvoc/README.org -text
dev/testvoc/analyse-bidix -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/corp_helpers.rc -text
dev/testvoc/generation.sh -text
dev/testvoc/sme-bidix-sanity.sh -text
dev/testvoc/streamparser.py -text
dev/testvoc/test-ngrams.sh -text
dev/to-gtweb -text
dev/transfer-check-lit-tag-vs-lit -text
dev/update-rm-deriv-cmp -text
gisting-eval/20bleu.txt -text
gisting-eval/Makefile -text
gisting-eval/README -text
gisting-eval/abc/Makefile -text
gisting-eval/abc/batch1.spmlsvar -text
gisting-eval/abc/index.php -text
gisting-eval/abc/spmlsvar-to-php.awk -text
gisting-eval/fyll_inn/Makefile -text
gisting-eval/fyll_inn/batch1.spmlsvar -text
gisting-eval/fyll_inn/index.php -text
gisting-eval/fyll_inn/spmlsvar-to-php.awk -text
gisting-eval/generated/Makefile -text
gisting-eval/generated/apertium-cleanstream.cc -text
gisting-eval/generated/dubestemmer.nob -text
gisting-eval/generated/dubestemmer.sme -text
gisting-eval/generated/index.php -text
gisting-eval/generated/laws.MT -text
gisting-eval/generated/laws.nobsme -text
gisting-eval/generated/masse.nob -text
gisting-eval/generated/masse.sme -text
gisting-eval/generated/randomise-create-phpgists.py -text
/lexchoicebil.xsl -text
/modes.xml -text
paper/Makefile -text
paper/apertium.bib -text
paper/architecture.obj -text
paper/cslipubs-natbib.bst -text
paper/cslipubs.sty -text
paper/history.MT -text
paper/history.nob -text
paper/history.post-edited -text
paper/history.res -text
paper/history.sme -text
paper/sme-nob.tex -text
paper/story.MT -text
paper/story.nob -text
paper/story.post-edited -text
paper/story.res -text
paper/story.sme -text
paper/talk/Makefile -text
paper/talk/apertium-general-architecture.pdf -text svneol=unset#unset
paper/talk/nnnb_talk-notes.org -text
paper/talk/notes.org -text
paper/talk/smenob_talk.tex -text
/previous-offenders -text
pseudo_tmx_data/1NRKnews_sme2nob.tmx -text
pseudo_tmx_data/2NRKnews_sme2nob.tmx -text
pseudo_tmx_data/3NRKnews_sme2nob.tmx -text
pseudo_tmx_data/4NRKnews_sme2nob.tmx -text
pseudo_tmx_data/5NRKnews_sme2nob.tmx -text
pseudo_tmx_data/samediggidiedadus_samegiela_birra_2012_sme2nob.tmx -text
/rm-deriv-cmp.twol -text
/sme-nob.prob -text
t/Pending_tests -text svneol=unset#application/octet-stream
t/README.org -text
t/Regression_tests -text svneol=unset#application/octet-stream
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/lazytranslate -text
t/pending-tests -text
t/regression-tests -text
t/translate.make -text
t/update-latest -text
t/wiki-tests -text
texts/NRK_Dimpas_sme.txt -text
texts/NRKnews_sme.txt -text
tmx_data/NRK_aslaksen_sme2nob.tmx -text
tmx_data/NRK_avvujahki_sme2nob.tmx -text
tmx_data/NRK_bellodat.tmx -text
tmx_data/NRK_belusta_sme2nob.tmx -text
tmx_data/NRK_filippinene_sme2nob.tmx -text
tmx_data/NRK_girjecallit_sme2nob.tmx -text
tmx_data/NRK_hiljestv_sme2nob.tmx -text
tmx_data/NRK_konvensuvdna_sme2nob.tmx -text
tmx_data/NRK_lotto_sme2nob.tmx -text
tmx_data/NRK_nbr_sme2nob.tmx -text
tmx_data/NRK_oamastit_sme2nob.tmx -text
tmx_data/NRK_oddajagesardni_sme2nob.tmx -text
tmx_data/NRK_samekonvensuvdna_sme2nob.tmx -text
tmx_data/Olli_kronikk_sme2nob.tmx -text
tmx_data/aigi_soabadit_sme2nob.tmx -text
tmx_data/boazodoaluhahkan_sme2nob.tmx -text
tmx_data/boazopolitihkka_sme2nob.tmx -text
tmx_data/ealga_sme2nob.tmx -text
tmx_data/geaidnu_sme2nob.tmx -text
tmx_data/gilvu_sme2nob.tmx -text
tmx_data/kostra_sme2nob.tmx -text
tmx_data/mii_geavva_sme2nob.tmx -text
tmx_data/numeralsentences_sme2nob.tmx -text
tmx_data/pronouns_sme2nob.tmx -text
tmx_data/ruhtacoaggin_sme2nob.tmx -text
tmx_data/unnitruda_sme2nob.tmx -text
/translations-test.html -text
/wercheck_mt-otpt.py -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
