/*.bin
/*.cache
/*.hfst*
/*.in
/*.log
/*.mode
/*.ol
/*.status
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config
/configure
dev/langs.cfg
/install-sh
/langs.cfg
/missing
/modes
paper/*.
paper/*.aux
paper/*.bin
paper/*.idx
paper/*.mode
paper/*.pdf
paper/INSTALL
paper/Makefile
paper/Makefile.in
paper/aclocal.m4
paper/autom4te.cache
paper/config
paper/config.in
paper/config.log
paper/config.status
paper/configure
paper/install-sh
paper/missing
paper/modes
/stamp-h1
update-morph/*.bin
update-morph/*.cache
update-morph/*.hfst*
update-morph/*.in
update-morph/*.log
update-morph/*.mode
update-morph/*.ol
update-morph/*.status
update-morph/.deps
update-morph/INSTALL
update-morph/Makefile
update-morph/Makefile.in
update-morph/aclocal.m4
update-morph/config*
update-morph/depcomp
update-morph/install-sh
update-morph/langs.cfg
update-morph/libtool
update-morph/ltmain.sh
update-morph/missing
update-morph/modes
update-morph/stamp-h1
