* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
WER/Makefile -text
WER/README -text
WER/dubestemmer.nob -text
WER/dubestemmer.sme -text
WER/eu.nob -text
WER/eu.sme -text
WER/gonagas.nob -text
WER/gonagas.sme -text
WER/make-paste.sh -text
WER/norga.nob -text
WER/norga.sme -text
WER/rikssamling.nob -text
WER/rikssamling.sme -text
WER/safrika.nob -text
WER/safrika.sme -text
WER/warhol.nob -text
WER/warhol.sme -text
WER/wdiff-to-html.sh -text
WER/ww2.nob -text
WER/ww2.sme -text
/apertium-sme-nob.nob.dix -text
/apertium-sme-nob.sme-nob.dix -text
/apertium-sme-nob.sme-nob.lex -text
/apertium-sme-nob.sme-nob.rlx -text
/apertium-sme-nob.sme-nob.t1x -text
/apertium-sme-nob.sme-nob.t2x -text
/apertium-sme-nob.sme-nob.t3x -text
/apertium-sme-nob.sme-nob.t4x -text
/apertium-sme-nob.sme.lexc -text
/apertium-sme-nob.sme.twol -text
/autogen.sh -text
/configure.ac -text
dev/README -text
dev/about-lemma_go.txt -text
dev/about-refl_pron.txt -text
dev/about-valence.txt -text
dev/bidix-abbr.todo.dix -text
dev/bidix-adpositions.todo.dix -text
dev/bidix-conjunction.todo.dix -text
dev/bidix-pronouns.todo.dix -text
dev/bidix-subjunction.todo.dix -text
dev/full-lexc.sh -text
dev/generation-report.txt -text
dev/generation-test.sh -text
dev/inc-adj_meahttun.txt -text
dev/inc-adv-fst_not_apert.txt -text
dev/inc-sme-nob-dic-noun-multiword.txt -text
dev/inc-sme-nob-dic-verb.txt -text
dev/inc-sme-nob-dic.txt -text
dev/inc-sme-nob-names.csv -text
dev/just-bidix.t1x -text
dev/lookup-transitivity.sh -text
dev/props-from-bidix-to-nob.sh -text
dev/rle-to-rlx.sh -text
dev/sme-nno.sh -text
dev/sme-nob.inconsistency.sh -text
dev/sme.hitparade.txt -text
dev/update-lexc.sh -text
dev/xfst2apertium.hashtags.twol -text
dev/xfst2apertium.relabel -text
dev/xfst2apertium.useless.twol -text
/lexchoicebil.xsl -text
/modes.xml -text
/old-pending-tests.sh -text
/old-regression-tests.sh -text
/pending-tests.sh -text
/regression-tests.sh -text
/sme-nob.prob -text
/wiki-tests.sh -text
